/* Texte classique */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(180, 175, 175);
}

/* Header (la banniére au dessus)*/
header {
    background-color: #a5e7a5;
    color: white;
    padding: 15px;
}

/* Message de connexion*/
#success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Message de Bienvenue*/
.Bienvenue{
    color: rgb(15, 95, 130);
    padding: 20px;
}
/*titre principale*/
header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav span {
    margin-right: 10px;
}

/* MAIN */
main {
    padding: 20px;  
    border: 5px solid rgb(124, 123, 123);
}

/* FORMULAIRES */
form {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 400px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BOUTONS */
button {
    background-color: #26bed6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* TABLEAU */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #007bff;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ACTIONS */
a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.container {
    max-width: 800px;
    margin: 30px auto;
}

/* Liste utilisateurs */
.user {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}


/* JEU */

/*Quand perdue*/
.error {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
}

/*style tableau de jeu*/
.game-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/*taille image*/
.game-table img {
    width: 24px;
    height: 24px;
}

/*Le haut du tableau*/
.game-table th {
    background-color: #282626;
    color: white;
    padding: 10px;
}

/*style tableau de jeu */
.game-table td {
    height: 50px;
    text-align: center;
    border-style: ridge;
    font-size: 20px;
}

/* Couleur Jeu */
/*Reuissite*/
.ok {
    background-color: #4CAF50; /* vert */
}

/*Echec*/
.no {
    background-color: #e74c3c; /* rouge */
}

/*Plus grand*/
.up {
    background-color: orange;
}

/*Plus petit*/
.down {
    background-color: rgb(48, 223, 226);
}

/*resultat du DLE/historique test */
.result {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

/*ligne d'essaie*/
.ligne-essai {
    opacity: 0;
    transform: translateY(20px);
    animation: apparition 0.5s ease forwards;
}

/*Partie JS*/ /* Internet */
@keyframes apparition {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Effet quand on survole les cases*/
.game-table td:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #771d1d;
    color: rgba(23, 135, 15, 0.46);
    margin-top: 20px;
}